header.header
  a.header__logo.logo(href='/')
    img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
    span.logo__name Типотека

  if user && user.isAuthor
    include nav-burger.pug
  else
    include nav.pug

  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')

