extends layout.pug
block content
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          .new-publication__header
            h1= article.id ? 'Редактирование публикации' : 'Новая публикация'
            .new-publication__date-form
              h3 Дата публикации
              form(action= (article.id ? ('/articles/edit/' + article.id) : '/articles/add') method='POST' )
                .new-publication__date-block
                  label(for='new-publication-date' aria-label='Календарь')
                  input#new-publication-date(type='text' name='createdDate' placeholder='21.03.2019' value= article.createdDate form='editArticle')
            button.new-publication__button.button.button--colored(type='submit' form='editArticle') Опубликовать
          button.popup__button.button.button--popup-close(type='button' aria-label='Закрыть окно') Закрыть окно
          .new-publication__form.form
            form(action= (article.id ? ('/articles/edit/' + article.id) : '/articles/add') method='POST' id='editArticle')
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    input(type='text' placeholder='Заголовок' required name='title' value= article.title)
                .form__field.form__field--post-image
                  label
                    input#image-name-field(type='text' placeholder='Фотография' name='picture' readonly value= (article.id ? '/img/' + article.picture.image : ''))
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file')
                      | Обзор
                  button.button.button--transparent Удалить
                each category, index in categories
                  .new-publication__checkbox.new-publication__checkbox--auto
                    input(id= 'checkbox-' + index type='checkbox' name= 'checkbox-' + index value= category.item checked= category.checked)
                    label(for= 'checkbox-' + index)= category.item
                a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    textarea(rows='2' placeholder='Анонс публикации' name='announce')= article.announce
                .form__field.form__field--publication-text
                  label
                    textarea(rows='10' placeholder='Полный текст публикации' name='fullText')= article.fullText
      .modal__overlay
